@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-4 p-4 border-bottom rounded">
<div class="row mb-4">
    <div class="col">
        <form method="post" class="d-flex gap-2 align-items-center">
                <label for="nombre" class="form-label mb-0">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="Nombre" required />
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="border rounded p-3">
            @if(Model.Nombres != null && Model.Nombres.Any()){
                <ul class="list-unstyled mb-0">
                    @foreach (var nombre in Model.Nombres){
                        <li class="mb-2">@nombre</li>
                    }
                </ul>
            }
            else{
                <p class="text-muted mb-0">No hay nombres</p>
            }
        </div>
    </div>
</div>

</div>
